@{
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-card {
        background-color: #e6e2f2;
        border-color: #e6e2f2;
    }
</style>

<div class="text-center">
    <h1><b>A Leave-Submission web application</b></h1><br />
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3 custom-card">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>About the Project</b></h5>
                    <hr />
                    <p class="card-text">This project encompasses the development of a leave application system using Entity Framework. The objective was to create an efficient solution for employees to submit leave requests within an organization.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="card mb-3 h-100 d-flex flex-column custom-card">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Data Structure Design</b></h5>
                    <hr />
                    <ul class="card-text">
                        <li>A comprehensive employee registration process was incorporated to fulfill the company's requirements.</li>
                        <li>Each employee's leave application history is diligently maintained, enabling efficient tracking and management of leave requests.</li>
                        <li>The system accommodates various leave types, such as vacation, child care, and more, to cater to diverse employee needs.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card mb-3 h-100 d-flex flex-column custom-card">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Functional Features</b></h5>
                    <hr />
                    <ul class="card-text">
                        <li>Intuitive UI: Streamlined leave application creation, allowing employees to specify dates and leave types with automatic timestamping.</li>
                        <li>Advanced search: Enables prompt access to employee applications by name, providing real-time leave application status.</li>
                        <li>Admin module: Effortless review of applications within a designated month, offering comprehensive analytics on requested leave days and creation dates.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card mb-3 h-100 d-flex flex-column custom-card">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Technical Implementation</b></h5>
                    <hr />
                    <ul class="card-text">
                        <li>The database was constructed using EF (Code First) to establish a robust foundation for the leave application system.</li>
                        <li>All tables were populated with relevant data programmatically, ensuring smooth operations.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
